*, *::before, *::after{
   box-sizing: border-box;
}

body{
   margin: 0;
   font-size: 1.3rem;
}

header{
   padding: 1em 0;
   background-color: #2E323F;
   text-align: center;
}

li{
   list-style: none;
}

ul{
   padding: 0;
}

a{
   text-decoration: none;
   color: white;
}

img{
   max-width: 100%;/*ocupe el ancho maximo del div*/
}

/*CONTENEDOR GLOBAL*/
.container{
   width: 80%;/*tamaño fijo*/
   max-width: 1100px;/*tamaño maximo*/
   margin: 0 auto;/*para que se centre*/
   position: relative;/*para agregar una posicion al nav*/
}

/*CONTENEDOR DEL HAMBUGER*/
.nav-toggle{
   border: 0;/*quitar el borde*/
   width: 3em;/*dar ancho*/
   height: 3em;/*dar alto*/
   padding: 0;/*quitar relleno*/
   border-radius: 50%;/*borde redondo*/
   background-color: #a0a2a8;/*color de fondo*/
   color: white;/*color contenido*/
   transition: opacity 250ms ease;
   position: absolute;/*posicionamiento*/
   left: 0;/*posicionar el elemento a la izquierda*/
}

.nav-toggle:focus,
.nav-toggle:hover{
   opacity: .50;/*opacidad para cuando pase o mantenga el click*/
}

/*HAMBURGER O 3 LINEAS */
.hamburger{
   width: 50%;/*agrego tamaño al span*/
   position: relative;/*posicionamiento del elemento*/
}

.hamburger,/*creacion elemento*/
.hamburger::before,/*se crea un elemento antes*/
.hamburger::after{/*se crea un elemento despues*/

   display: block;/*elemento de bloque*/
   margin: 0 auto;/*centrar elemento*/
   height: 3px;/*altura*/
   background: white;/*color del elemento*/
}

.hamburger::before,/*contenido al elemento antes*/
.hamburger::after{/*contenido al elemento despues*/

   content: '';/*agrego otra linea sin nada*/
   width: 100%;/*ancho*/
}

.hamburger::before{/*elemento antes*/
   transform: translateY(-6px);/*se mueve hacia arriba*/
}

.hamburger::after{/*elemento despues*/
   transform: translateY(3px);/*se mueve hacia abajo*/
}

/*NAV*/
.nav{
   width: 100%;/*ancho del nav*/
}

/*elemento ul*/
.nav-list{
   margin: 0;/*quitar margin*/
   padding: 0;/*quitar padding*/
   margin: 1.5em 0;/*agregar margin arriba y abajo*/
}

/*elemento li*/
.nav-item{
   margin-bottom: 0.9em;/*agregar margin abajo para separar*/
}

/*visible el nav*/
.nav{
   visibility: hidden;/*para ocultar el nav*/
   height: 0;/*para la altura*/
   position: absolute;/*posicionarlo sin ocupar espacio*/
}

/*clase creada para el nav*/
.nav--visible{
   visibility: visible;/*se vuelve visible*/
   height: auto;/*altura automatica*/
   position: relative;/*retiene su posicion*/
}

/*SEGUNDA CLASE DEL A CON EL TEXTO SIGN UP*/
.list--item-signUp{
   padding: 10px;/*relleno del elemento a todos los lados*/
   background-color: #A59678;/*color de fondo*/
   border-radius: 50px;/*el borde redondo*/
}

/*SECTION HERO*/
.hero{
   padding: 40px 0;
   background-color:  #3B4050;/*color de fondo*/
   color: white;
}

h1{
   font-size: 3em;
}

.hero-span{
   color: #A59678;
}

.btn{
   display: inline-block;
   font-weight: 900;
   background-color: #A59678;
   padding: 0.40em 1.5em;
   border-radius: 100px;
}

/*SECTION INFO*/
.info{
   padding: 40px 0;
   background-color: #e3e4e9;
   text-align: center;
}

.subtitle{
   color: #A59678;
   font-weight: bolder;
}

.subtitle ~ p{/*a los p que siguen despues de la clase subtitlte*/
   font-size: .75em;
}

/*Main aside*/
.sidebar{
   margin-top: 50px;
}

.sidebar-text{
   background-color: #3B4050;
   color: white;
   padding: 25px;
   margin-bottom: 50px;
   text-align: center;
}

h4{
   font-size: 1.5em;
   margin: 0 0 25px 0;
}

h4 ~ p{
   font-size: 1em;
}

/*FOOTER*/
.footer{
   background-color: #2E323F;
   color: #e3e4e9;
   padding: 50px 0;
   text-align: center;
}

.footer-title{
   font-size: 2.5em;
}

.footer-subtitle{
   font-size: 1em;
}

.footer-text > ul > li{
   font-size: 0.85em;
   margin-bottom: 15px;
}

@media (min-width:700px){
   
   /*SECTION INFO*/
   .info-div{
      display: flex;
      flex-direction: row;
      gap: 5em;
   }

   /*SECTION MAIN*/
   /*img{
      height: 50%;
   }*/

   .sidebar{
      display: flex;
      flex-direction: row;
      gap: 20px;
   }

   h4{
      font-size: 1em;
   }

   h4 ~ p{
      font-size: 0.75em;
   }

   /*SECTION FOOTER*/
   .footer-div{
      display: grid;
      grid-template-areas: 
      "footer-title footer-title"
      "about getting"
      "other more";
      grid-template-columns: 1fr 1fr;
   }

   .footer-title{
      grid-area: footer-title;
   }

   
}