*, *::before, *::after{
   box-sizing: border-box;
}

body{
   margin: 0;
   font-size: 1.3rem;
}

header{
   padding: 1em 0;
   background-color: #2E323F;
   text-align: center;
}

li{
   list-style: none;
}

a{
   text-decoration: none;
   color: white;
}

img{
   max-width: 100%;/*ocupe el ancho maximo del div*/
}

/*CONTENEDOR GLOBAL*/
.container{
   width: 80%;/*tamaño fijo*/
   max-width: 1100px;/*tamaño maximo*/
   margin: 0 auto;/*para que se centre*/
   position: relative;/*para agregar una posicion al nav*/
}

/*CONTENEDOR DEL HAMBUGER*/
.nav-toggle{
   border: 0;/*quitar el borde*/
   width: 3em;/*dar ancho*/
   height: 3em;/*dar alto*/
   padding: 0;/*quitar relleno*/
   border-radius: 50%;/*borde redondo*/
   background-color: #a0a2a8;/*color de fondo*/
   color: white;/*color contenido*/
   transition: opacity 250ms ease;
   position: absolute;/*posicionamiento*/
   left: 0;/*posicionar el elemento a la izquierda*/
}

.nav-toggle:focus,
.nav-toggle:hover{
   opacity: .50;/*opacidad para cuando pase o mantenga el click*/
}

/*HAMBURGER O 3 LINEAS */
.hamburger{
   width: 50%;/*agrego tamaño al span*/
   position: relative;/*posicionamiento del elemento*/
}

.hamburger,/*creacion elemento*/
.hamburger::before,/*se crea un elemento antes*/
.hamburger::after{/*se crea un elemento despues*/

   display: block;/*elemento de bloque*/
   margin: 0 auto;/*centrar elemento*/
   height: 3px;/*altura*/
   background: white;/*color del elemento*/
}

.hamburger::before,/*contenido al elemento antes*/
.hamburger::after{/*contenido al elemento despues*/

   content: '';/*agrego otra linea sin nada*/
   width: 100%;/*ancho*/
}

.hamburger::before{/*elemento antes*/
   transform: translateY(-6px);/*se mueve hacia arriba*/
}

.hamburger::after{/*elemento despues*/
   transform: translateY(3px);/*se mueve hacia abajo*/
}

/*NAV*/
.nav{
   width: 100%;/*ancho del nav*/
}

/*elemento ul*/
.nav-list{
   margin: 0;/*quitar margin*/
   padding: 0;/*quitar padding*/
   margin: 1.5em 0;/*agregar margin arriba y abajo*/
}

/*elemento li*/
.nav-item{
   margin-bottom: 0.75em;/*agregar margin abajo para separar*/
}

/*visible el nav*/
.nav{
   visibility: hidden;
   height: 0;
   position: absolute;
}
